.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.box_coordonnees {
  flex: 1;
  align-items: center;
  padding: 30px;
  margin: 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgb(0, 0, 0);
  box-sizing: border-box;
}

.box_formulaire_contact {
  flex: 2;
  align-items: center;
  padding: 30px;
  margin: 30px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgb(0, 0, 0);
  box-sizing: border-box;
}

.coordonnees {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  flex-direction: column;
  gap: 10px;
}

.container p {
  padding: 0;
  margin: 0;
}

h1 {
  color: rgb(186, 13, 13);
}

.container i {
  color: rgb(116, 116, 116);
}

.contenu {
  width: 100%;
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  border-color: #2178cc;
  border-style: ridge;
  gap: 25px;
}

legend {
  color: rgb(186, 13, 13);
}

.button {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button_envoyer {
  background-color: rgb(23, 99, 23);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}

.button_effacer {
  background-color: rgb(173, 15, 15);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
}
