h1{
    color: #2178cc;
}

legend{
    color: rgb(186, 13, 13);
}

form {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    flex-direction: column;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
}

fieldset p {
    margin: 5px 20px;
}