.corps {
    margin: 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fiche-produit {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.fiche-produit img {
    flex: 1;
    max-width: 346px;
    aspect-ratio: 1/1;
    height: auto;
}

.description {
    flex: 1;
}

.description ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.description ul li {
    margin: 10px 0;
}

.description .couleurs {
    display: flex;
    gap: 10px;
    margin: 0;
}

.description p {
    margin: 0;
}

.description .couleurs div {
    width: 1em;
    height: 1em;
    border-radius: 1em;
    border: solid 1px #5a5a5a;
}