.corps {
  margin: 0 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.corps h1 {
  text-align: center;
}

.fiche-produit {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  width: 100%;
  justify-content: center;
}

.fiche-produit .image {
  width: auto;
  max-width: 430px;
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.fiche-produit .image img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  aspect-ratio: 3/2;
  object-fit: contain;
  object-position: bottom;
  min-width: 150px;
}

.description {
  display: block;
  max-width: 430px;
  flex: 1 1 50%;
  justify-content: center;
  align-content: center;
}

.container {
  text-wrap: nowrap;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: dense;
  grid-template-areas:
    ". ."
    ". ."
    ". .";
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}

.description .couleurs {
  display: flex;
  gap: 10px;
  margin: 0;
  justify-content: center;
}

.description p {
  margin: 0;
}

.description .titre-description {
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.description .couleurs div {
  width: 1em;
  height: 1em;
  border-radius: 1em;
  border: solid 1px #5a5a5a;
}
