/* Général */

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(186, 13, 13);
}

strong {
  color: rgb(75, 75, 75);
}
/* Conteneur principal */
.team-container {
  width: 90%;
  max-width: 800px;
  margin: auto;
}

/* Images + noms */
.image-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.image-block {
  text-align: center;
  flex: 1;
}

.image-container {
  position: relative;
  width: 200px; /* adapte la taille comme tu veux */
  height: 200px;
  margin: 0 auto;
}

.photo {
  width: 100%;
  height:100%;
  border-radius: 50%;
  object-fit: cover;
}

.grattage-canvas{
  position:absolute;
  top: 0;
  left:0;
  width:100%;
  height:100%;
  border-radius: 50%;
  z-index:2;/*pour mettre le canvas sur l'image*/
  pointer-events: auto; /* important, sinon le canvas bloque la souris */
}

.name {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.job {
  font-size: 14px;
  color: #777;
  margin: 0;
  margin-bottom: 10px;
}

/* Anecdote */
.minipara {
  text-align: center;
  font-size: 16px;
  margin: 20px 0;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgb(0, 0, 0);
  text-align: justify;
}

/* Biographies */
.bio-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.bio {
  flex: 1 1 calc(50% - 20px);
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgb(0, 0, 0);
  box-sizing: border-box;
  text-align: justify;
}

.bio h2 {
  margin-top: 0;
}

/* Responsive Design */
@media (max-width: 600px) {
  /* Les images et leurs biographies s'empilent */
  .photo {
    width: 250px;
    height: 250px;
  }

  .image-row {
    flex-direction: column;
  }

  .image-block {
    margin-bottom: 20px;
  }

  .bio-row {
    flex-direction: column;
  }

  .bio {
    margin-bottom: 20px;
  }

  /* Anecdote entre les images et biographies */
  .minipara {
    order: 1; /* Anecdote toujours au milieu */
  }
}
