.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.image{
    width: 50%;
    border-radius: 10px;
    height: auto;
    flex: 2 1 300px;
}

.text_description{
    flex: 1 2 300px;
    text-align: justify;
}

.text_mission{
    flex: 1 2 300px;
    text-align: justify;
}

h1{
    color: rgb(186, 13, 13);
}