.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.image{
    height: 100%;
    aspect-ratio: 1/1;
    flex: 1 1 auto;
    border-radius: 20px;
}

.text_description{
    flex: 1 1 300px;
    text-align: justify;
}

.text_mission{
    min-width: 50%;
    flex: 1 1 300px;
    text-align: justify;
}

h1{
    color: rgb(186, 13, 13);
}

p{
    font-size: 18px;
}